*{
    font-family: "Courier New", Courier, monospace;
    padding: 20px;
    color:antiquewhite;
    background-color: black;
}
h1 {
    text-align:left;
    color: #4CAF50;
}

.comment{
    color: greenyellow;
}

.orange-highlight {
    color: orange;
    white-space: nowrap;
}

